# Xcode
*.xcodeproj/xcuserdata/
*.xcodeproj/project.xcworkspace/xcuserdata/
*.xcworkspace/xcuserdata/
DerivedData/
*.moved-aside
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# Swift Package Manager
.build/
.swiftpm/
Packages/
Package.resolved

# CocoaPods
Pods/

# macOS
.DS_Store
*.swp
*~

# Secrets
Secrets.swift
*.xcconfig
!Debug.xcconfig
!Release.xcconfig
